.navbar-brand {
  background-color: #4aaaa5;
  margin-left: 150px;
  font-size: 50px;
  color: #fff;
  

}
.navbar {
  background-color: white;
  border: none;

}
.collapse {
  margin-left: 40%;
}
#catimg {
  margin-right: 20px;
  width: 250px;
  height: 250px;
  float: left;
}
.card-header {
  font-size: 40px;
  color: #4aaaa5;
}
#cardRow { 
  margin-top: 70px;
  width: 1500px;
  margin-left: 50px;
}
body {  
  background-size: cover;
  background-image: url("../images/road-landscape-nature-490411.jpg");
  background-repeat: no-repeat;


}
.footer {
background-color: gray;
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
height: 50px;
}
h1 {
  font-size: 10px;
  padding-top: 10px;
}